#banner>div>img{
   width:100%;
   height:800px;

}
#banner{
    position:relative;
  
  background-color: white;
  
}
.ban{
position: absolute;
  top:5%;
  padding: 10px;
  color:black;
  text-align: center;
  margin: auto;
  padding-left: 130px;
  padding-top: 50px;
  
}
.ban>h1{
    font-size: 80px;
    color:white;
    font-style: oblique;
    
}
.ban>p{
    font-size: 30px;
    color:white;
    margin-top: 15px;
    font-style: oblique;
}
.ban>button{
   font-size: 25px;
   padding:10px 10px 10px 10px;
   
}

#mid{
    text-align: center;
    margin: auto;
    padding-top: 7px;
   
    background-color: #E1F5FE;
    margin-top: 10px;
 }
 #mid>h1{
    font-size: 50px;
    text-align: left;
    padding-left: 100px;
 }
 #midpart{
    display:flex;
   
    justify-content: center;
    margin: auto;
    gap:30px;
  

 }
 #midpart>div>img{
    width:350px;
 }
 #midpart>div{
    background-color: white;
    box-shadow:  rgba(149, 157, 165, 0.2) 0px 8px 24px;

margin-top: 10px;
margin-bottom: 50px;

 }
 
 #midpart>div>h3{
    text-align: left;
    font-size: 30px;
   text-align: center;
 }
 #ship{
   
    text-align: center;
  
 }
 
 
 .shi>div>h4{
  font-size: 35px;
  
 }
 .shi>div>h1{
    font-size: 45px;
    
}
.shi>div>p{
    font-size: 20px;
}
.shi>div>button{
    font-size: 30px;
    background-color: black;
    color:white;
    padding:15px 15px 15px 15px;
    
}
#feat>div>img{
   width:1400px;
   height:600px;

}
#feat{
    position: relative;
  
  background-color: white;
  margin-left: 200px;
  margin-top: 80px;
  
  
}
#feat>h1{
   font-size: 40px;
}
.tex{
position: absolute;
  bottom:3%;
  padding: 10px;
  color:black;
  text-align: center;
  margin: auto;
  padding-left: 30px;
  padding-top: 50px;
  
}
.tex>h3{
    font-size: 30px;
    color:white;
    font-style: oblique;
    
}
.tex>p{
    font-size: 20px;
    color:white;
    text-decoration: underline;
    margin-top: 15px;
    font-style: oblique;
}


#flex{
   position: relative;
 
 
 
 display: flex;
 justify-content: center;
 gap:30px;
 
}

.first>img{
   width:700px;
   height:650px;
}
.fir{
position: absolute;
 bottom:5%;
 padding: 10px;
 color:black;
 text-align: center;
 margin: auto;
 padding-left: 30px;
 padding-top: 50px;
 
}
.fir>h1{
   font-size: 30px;
   
   font-style: oblique;
   
}
.fir>p{
   font-size: 20px;
   
   text-decoration: underline;
   margin-top: 15px;
   font-style: oblique;
}

#slideshow>img{
   width:650px;
   
}

#gear{
   
  text-align: center;
  font-size: 40px;
  background-color: #E3F2FD;
}
#gea>img{
   width:600px;
   border-radius:50%;
}

#ge>p{
   font-size: 30px;
}
#ge>h3{
   font-size: 40px;
}

#ge>button{
   font-size: 30px;
   color:white;
   background-color: black;
   padding: 15px 15px 15px 15px;
   margin-bottom: 20px;
}

#tren{
   
   margin: auto;
   padding-top: 7px;
   
  
   margin-top: 30px;
   
 }

 #te{
   display: flex;
   gap:10px;
 }
 #tren>h1{
   padding-left: 70px;
   font-size: 50px;
 }
 #tre{
   display:flex;
   
   justify-content: center;
   margin: auto;
   gap:25px;
 
 
 }
  #tre>div>img{
   width:380px;
   
 }
 #tre>div{
   
   box-shadow:  rgba(149, 157, 165, 0.2) 0px 8px 24px;
 background-color: white;
 margin-top: 10px;
 margin-bottom: 50px;
 
 }
 
 #tre>div>p{
   text-align: center;
   font-size: 20px;
   
   
 }
 #tre>div>h4{
   text-align: center;
   font-size: 20px;
   
   
 }
 #tre>div>h3{
   text-align: center;
   
   
   font-size: 25px;
 }

 .but>button>img{
   width:100px;
   border: none;
   box-shadow: none;
   
 }
 .but>button{
   margin-top: 150%;
   border: none;
   border-radius: 50%;
 }
 



 
 

