body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  #mainNav {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .navbar {
    width: 100%;
    height: 50px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    background-color: white;
  
  
  }
  
  .left {
    margin-left: 30px;
    margin-top: 10px;
    font-family: open sans, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
    font-size: 15px;
  
  }
  
  .right {
    display: flex;
    /* border: 2px solid green; */
    width: 200px;
    justify-content: space-around;
    align-items: center;
    margin-right: 35px;
    font-size: 20px;
  
  }
  
  .navbar a {
    color: black;
    text-decoration: none;
  }
  
  .right>div {
    /* border: 2px solid red; */
    width: 25%;
    height: 100%;
    padding-top: 12px;
    padding-left: 12px;
  
  }
  
  .customerCare {
    position: relative;
  }
  
  .hideCustomer {
    /* border: 2px solid red; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 101%;
    background-color: black;
    display: none;
  
  
  }
  
  .sideCust {
    background-color: black;
    position: absolute;
    top: 10px;
    left: -95px;
    color: white;
    font-size: small;
    padding: 2px 5px 3px 5px;
    display: none;
  }
  
  .customerCare:hover .sideCust {
    display: flex;
  }
  
  .sideCust::before {
    position: absolute;
    content: "";
    /* background-color: red; */
    margin: 30px;
    top: -27px;
    right: -45px;
    border-top: 8px solid transparent;
    border-left: 8px solid black;
    border-bottom: 8px solid transparent;
    border-right: 8px solid transparent;
  }
  
  .customerCare:hover .hideCustomer {
    display: flex;
    color: white;
    padding-top: 12px;
    padding-left: 12px;
  }
  
  .findStore {
    position: relative;
    /* border: 2px solid  red; */
  }
  
  .hideFindStore {
    /* border: 2px solid red; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 101%;
    background-color: black;
    display: none;
  }
  
  .sideFind {
    background-color: black;
  
    position: absolute;
    top: 10px;
    left: -84px;
    color: white;
    font-size: small;
    padding: 2px 5px 5px 5px;
  
    display: none;
  
  }
  
  .findStore:hover .sideFind {
    display: flex;
  
  }
  
  .sideFind::before {
    position: absolute;
    content: "";
    /* background-color: red; */
    margin: 30px;
  
    top: -27px;
    right: -45px;
    border-top: 8px solid transparent;
    border-left: 8px solid black;
    border-bottom: 8px solid transparent;
    border-right: 8px solid transparent;
  }
  
  .findStore:hover .hideFindStore {
    display: flex;
    color: white;
    padding-top: 12px;
    padding-left: 12px;
  }
  
  .account {
    position: relative;
  
  }
  
  .hideAccount {
    /* border: 2px solid red; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;
  
  }
  
  .sideAcc {
    background-color: black;
    position: absolute;
    top: 10px;
    left: -83px;
    color: white;
    font-size: small;
    padding: 2px 5px 5px 5px;
  
    display: none;
  
  }
  
  .account:hover .sideAcc {
    display: flex;
  
  }
  
  .sideAcc::before {
    position: absolute;
    content: "";
    /* background-color: red; */
    margin: 30px;
  
    top: -27px;
    right: -45px;
    border-top: 8px solid transparent;
    border-left: 8px solid black;
    border-bottom: 8px solid transparent;
    border-right: 8px solid transparent;
  }
  
  .account:hover .hideAccount {
    display: flex;
    color: white;
    padding-top: 12px;
    padding-left: 12px;
  }
  
  .cart {
    position: relative;
    /* border: 2px solid  red; */
  
  }
  
  .hideCart {
    /* border: 2px solid red; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;
  
  }
  
  .sideCart {
    background-color: black;
    position: absolute;
    top: 10px;
    left: -40px;
    color: white;
    font-size: small;
    padding: 2px 5px 5px 5px;
  
    display: none;
  
  }
  
  .cart:hover .sideCart {
    display: flex;
  
  }
  
  .sideCart::before {
    position: absolute;
    content: "";
    /* background-color: red; */
    margin: 30px;
  
    top: -27px;
    right: -45px;
    border-top: 8px solid transparent;
    border-left: 8px solid black;
    border-bottom: 8px solid transparent;
    border-right: 8px solid transparent;
  }
  
  .cart:hover .hideCart {
    display: flex;
    color: white;
    padding-top: 12px;
    padding-left: 12px;
  }
  
  
  #lower {
    background-color: #333030;
    width: 100%;
    height: 100px;
    display: flex;
  
  }
  
  .lowerLeft {
    display: flex;
    /* border: 2px solid red; */
    background-color: #007ab8;
    align-items: center;
    width: 200px;
    margin-right: 30px;
  
  }
  
  .lowerLeft img {
    color: white;
    width: 60px;
    margin-left: 10px;
  }
  
  .lowerLeft a {
    color: white;
    margin-left: -15px;
    font-size: 30px;
    text-decoration: none;
  }
  
  .lowerMiddle {
    display: flex;
    /* border: 2px solid red; */
    align-items: center;
    width: 600px;
    justify-content: space-around;
    margin-right: 280px;
    position: relative;
  }
  
  .lowerMiddle a {
    color: white;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .lowerRight {
    border: 2px solid white;
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 220px;
    height: 40px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    background-color: #333030;
    color: white;
    padding-left: 20px;
    padding-right: 10px;
  
  }
  .lowerRight button{
    padding: 8px;
    background-color:#333030;
    color: white;
    border: none;
  
  }
  .lowerRight input {
    width: 100%;
    height: 100%;
    background-color: #333030;
    outline: none;
    border: none;
    font-size: 20px;
    color: white;
  }
  
  
  .men {
    /* border: 2px solid red; */
    height: 100%;
    padding-top: 35px;
  }
  
  .menList {
    position: absolute;
    background-color: #007ab8;
    width: 680px;
    height: 500px;
    top: 98px;
    left: -10px;
    overflow: scroll;
    background-image: url("https://columbia.scene7.com/is/image/ColumbiaSportswear2/12-28_36844_C_U_WS_EmailBanner_Long_v2?$aem_pjpeg$");
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: none;
  }
  
  .menList::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: aqua;
  }
  
  .men:hover .menList {
    display: flex;
  }
  
  .menList img {
    float: right;
  }
  
  .menListLeft {
    position: absolute;
    background-color: white;
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    line-height: 40px;
    padding-left: 20px;
    padding-top: 10px;
    /* overflow: scroll; */
  }
  
  .menListLeft a {
    color: #333030;
  }
  
  .menListLeft a:hover {
    background-color: rgb(223, 220, 220);
  }
  
  .menListLeft>div:hover {
    background-color: rgb(223, 220, 220);
  }
  
  .menListLeft i {
    float: right;
    padding-right: 10px;
    padding-top: 12px;
  }
  
  /* .menListRight{
     position: absolute;
     background-color: black;
     width: 350px;
     height: 500px;
     left: 350px;
   } */
  .menListRightpopup {
    background-color: rgb(223, 220, 220);
    position: absolute;
    top: 0px;
    left: 350px;
    width: 350px;
    height: 550px;
    display: none;
    padding-left: 20px;
  
  }
  
  .menListRightpopup a {
    color: rgb(194, 37, 37);
  
  }
  
  .winterSale:hover .menListRightpopup {
    display: flex;
    flex-direction: column;
    line-height: 50px;
  
  }
  
  .featured:hover .menListRightpopup {
    display: flex;
    flex-direction: column;
    line-height: 50px;
  
  }
  
  .featured a {
    color: #333030;
  }
  
  .Jackets:hover .menListRightpopup {
    display: flex;
    flex-direction: column;
    line-height: 40px;
    overflow: auto;
  
  }
  
  .Jackets a {
    color: #333030;
  }
  
  .fleece:hover .menListRightpopup {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    overflow: auto;
  
  }
  
  .fleece:hover a {
    color: #333030;
  }
  
  .shirts:hover .menListRightpopup {
    display: flex;
    flex-direction: column;
    line-height: 40px;
    overflow: auto;
  
  }
  
  .baselayer:hover a {
    color: #333030;
  }
  
  .pants:hover .menListRightpopup {
    display: flex;
    flex-direction: column;
    line-height: 40px;
    overflow: auto;
  
  }
  
  .pants:hover a {
    color: #333030;
  }
  
  .baselayer:hover .menListRightpopup {
    display: flex;
    flex-direction: column;
    line-height: 40px;
    overflow: auto;
  
  }
  
  .shirts:hover a {
    color: #333030;
  }
  
  .bag:hover .menListRightpopup {
    display: flex;
    flex-direction: column;
    line-height: 40px;
    overflow: auto;
  
  }
  
  .bag:hover a {
    color: #333030;
  }
  
  .PFG:hover .menListRightpopup {
    display: flex;
    flex-direction: column;
    line-height: 40px;
    overflow: auto;
  
  }
  
  .PFG:hover a {
    color: #333030;
  }
  
  .Shoes:hover .menListRightpopup {
    display: flex;
    flex-direction: column;
    line-height: 40px;
    overflow: auto;
  
  }
  
  .Shoes:hover a {
    color: #333030;
  }
  
  .accessories:hover .menListRightpopup {
    display: flex;
    flex-direction: column;
    line-height: 40px;
    overflow: auto;
  
  }
  
  .accessories:hover a {
    color: #333030;
  }
  
  .equipment:hover .menListRightpopup {
    display: flex;
    flex-direction: column;
    line-height: 40px;
    overflow: auto;
  
  }
  
  .equipment:hover a {
    color: #333030;
  }
  
  /* search input */
  .lowerRight {
    position: relative;
  }
  
  form{
    display: flex;
    background-color:#333030;
  
  }
  form input{
    color: #333030;
  }
  .searchPopup {
    position: absolute;
    background-color: white;
    width: 400px;
    height: 300px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 39px;
    right: 0px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    line-height: 30px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    display: none;
  }
  
  .searchPopup a {
    color: rgb(5, 5, 5)
  }
  
  .lowerRight:hover .searchPopup {
    display: flex;
  }